* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0.5rem;
}

main {
    width: 80%;
    margin: 10px auto;
}

button, input {
    padding: 3px;
}

form button {
    margin: 0 3px;
    padding: 1px 0.5px 0.5px 0.5px;
}

form button img {
    margin: 0 3px;
    padding: 0.3px 0.3px 0.4px 0.3px;
}

ul {
    width: 100%;
}

li {
    list-style: none;
    margin-bottom: 5px;
    box-shadow: 1px 1px 1px rgb(23, 64, 88);
    border-bottom: 1px solid rgb(152, 194, 223);
    padding: 5px 3px 10px 3px;
}

li:hover {
    background-color: rgb(223, 222, 222);
}

li > a {
    float: left;
    padding-left: 5px; 
    width: calc(90% - 75px);
}

li > button {
    float: right;
    margin: 0 3px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
}
 
button[type="submit"] {
    background-color: rgba(184, 238, 184, 0.418);
    border: 1px solid rgb(16, 122, 16);
    box-shadow: 1px 1px 1px rgb(16, 122, 16);
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;
}

button[type="reset"] {
    background-color: rgba(219, 144, 144, 0.479);
    border: 1px solid rgb(122, 19, 19);
    box-shadow: 1px 1px 1px rgb(122, 19, 19);
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;
}

button#bbusca  {
    background-color: transparent;
    border:none;
    cursor:pointer;
}

button.incluir {
    background-color: white;
    border:none;
    cursor:pointer;
}

button.incluir:hover {
    font-weight: bold;
}

button.incluir > img {
    margin: auto 0;
    vertical-align: top;
}

button.incluir > img:hover {
    scale: 110%;
}

@media only screen and (max-width: 300px) {
    main {
        width: 98%;
        margin: 5px auto;
    }
}